.quantity-text-sample{
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
}

.h3-sample{
  font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 1px;
}