.quantity-text-sample, .community-pictures-data .quantity-attendees, .community-pictures-data .quantity-devs, .community-pictures-data .quantity-participants {
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px;
}

.h3-sample, .start-building p, .community h3, .bfg-top p, .container-mass-adoption h3, .join-community h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  text-decoration: none;
  color: rgb(212, 207, 207);
}

main {
  background-color: rgb(23, 21, 21);
}

.container {
  padding: 0 200px;
}

.container-header .header-top {
  background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}
.container-header .header-top p {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
}
nav ul {
  display: flex;
}

.li-item {
  margin-right: 50px;
}

/* SECTION FOR H1*/
.part-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 100px 120px 100px;
}
.part-introduction h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.68px;
  margin-bottom: 55px;
}
.part-introduction p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 50px;
}

.btn-start-bld {
  width: 181px;
  height: 52px;
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
  border: 1px solid #000000;
  border-radius: 36px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn-read-docs {
  width: 146px;
  height: 52px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* ALLIED companies*/
.allied-companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allied-companies p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #618ADC;
  margin-bottom: 20px;
}

.container-companies-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.container-companies-logo .logo-companies {
  margin-left: 30px;
}

/*JOIN COMMUNITY*/
.join-community {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px 0px;
}
.join-community h2 {
  margin-top: 70px;
}

.join-community-data .data-statistics {
  font-weight: 400;
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.join-community-data .data-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
}

.container-mass-adoption {
  background: url(../images/background\ img.png);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.container-mass-adoption h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  margin: 30px 0px 30px;
}
.container-mass-adoption p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.text-env {
  color: rgb(52, 154, 52);
  text-decoration: underline;
}

/*built for growth*/
.container-built-for-growth {
  margin: 50px 0px;
}

.bfg-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bfg-buttons {
  border: 1px solid #6a1556;
  border-radius: 15px;
  padding: 15px 15px;
}

.bfg-middle {
  display: flex;
  margin: 20px 0px;
}

.middle-part-text {
  padding: 95px 45px;
  background-color: rgb(51, 44, 44);
}
.middle-part-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  margin: 15px 0px;
}
.middle-part-text a {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  color: #A962FF;
  margin-right: 20px;
}

.bfg-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

/*thriving community*/
.community {
  display: flex;
  flex-direction: column;
}
.community h3 {
  margin-bottom: 20px;
  margin-left: 250px;
}

.community-pictures-data {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.community-pictures-data .text-of-exp {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
.community-pictures-data .quantity-participants {
  color: #F087FF;
}
.community-pictures-data .quantity-devs {
  color: #19FB9B;
}
.community-pictures-data .quantity-attendees {
  color: #FFEB3B;
}

.community-image {
  width: 100%;
}

.container-community-data {
  padding: 10px;
  text-align: center;
  margin: 15px;
  background-color: #292727;
}

.start-building {
  text-align: center;
  max-width: 750px;
  margin: 100px auto;
}
.start-building p {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}

/*FOOTER*/
.container-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer-nav h3 {
  color: white;
}

.bottom-logo-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: 20px 0px;
}/*# sourceMappingURL=index.css.map */